.MoviesGrid{
    position: relative;
}

.MoviesGridRow{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.MoviesGridCol{
    width: 25%;
    padding: 15px;

    @media only screen and (max-width: 1199px){
        width: calc(100% / 3);
    }

    @media only screen and (max-width: 991px){
        width: 25%;
    }

    @media only screen and (max-width: 767px){
        width: 50%;
    }
}
