.MoviesItem{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    transition: var(--transition);

    animation: blurInBottom 0.4s ease;

    &-toggle{
        animation: blurOutBottom 0.4s ease;
    }
}

.MoviesItemLink{
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover{
        .MoviesItemImage{
            opacity: 0.85;
        }

        .MoviesItemTitle {
            color: var(--cl-yellow);
        }
    }
}

.MoviesItemImage{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--cl-grey-dark);
    overflow: hidden;
    transition: var(--transition);

    img{
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
}

.MoviesItemTitle {
    display: inline-flex;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cl-light);

    .highlight{
        color: var(--cl-yellow);
    }

    sub{
        font-size: 12px;
        font-weight: 400;
        color: var(--cl-secondary);
    }
}

.MoviesItemBlock{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 10px;
}

.MoviesItemRating{
    display: flex;
    align-items: center;
    font-size: 14px;

    h6{
        padding-right: 5px;
        color: var(--cl-light);
    }

    &:before{
        content: '';
        display: flex;
        width: 15px;
        height: 15px;
        flex: 0 0 15px;
        margin-right: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' class='ipc-icon ipc-icon--star-inline' viewBox='0 0 24 24' fill='%23f5b50a' role='presentation'%3E%3Cpath d='M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z'%3E%3C/path%3E%3C/svg%3E");
        background-size: cover;
    }
}

.MoviesItemAction{
    position: relative;

    ul{
        display: flex;
        margin: -5px;

        li{
            padding: 5px;

            .AddToWatchlist,
            .AddToFavorite {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                width: 24px;
                height: 24px;
                flex: 0 0 24px;
                padding: 0;
                background: none;

                &:not(:disabled):hover{
                    opacity: 0.85;
                }
            }

            .AddToWatchlist {
                font-size: 18px;
                color: var(--cl-yellow);
            }

            .AddToFavorite {
                font-size: 24px;
                color: var(--cl-red);
            }
        }
    }
}


@keyframes blurInBottom {
    0% {
        transform: translateY(20px);
        filter: blur(5px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        filter: blur(0px);
        opacity: 1;
    }
}


@keyframes blurOutBottom {
    0% {
        transform: translateY(0);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        filter: blur(5px);
        opacity: 0;
    }
}