.Movie{
    position: relative;
}

.MovieDetails{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 190px 0 90px;

    @media only screen and (max-width: 767px){
        padding: 120px 0 40px;
    }
}

.MovieDetailsOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.1;
}

.MovieDetailsRow{
    display: flex;
    flex-wrap: wrap;
    margin: -15px -30px;

    @media only screen and (max-width: 767px){
        margin: -10px 0;
    }
}

.MovieDetailsCol{
    padding: 15px 30px;

    &-start{
        width: 400px;
    }

    &-end{
        width: calc(100% - 400px);
    }

    @media only screen and (max-width: 767px){
        width: 100%;
        padding: 10px 0;
    }
}

.MovieDetailsLink{
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover{
        .MovieDetailsImage{
            opacity: 0.85;
        }

        .MovieDetailsTitle {
            color: var(--cl-yellow);
        }
    }
}

.MovieDetailsImage{
    position: relative;
    display: flex;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--cl-grey-dark);
    overflow: hidden;
    transition: var(--transition);

    img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

.MovieDetailsHead{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.MovieDetailsTitle {
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
    color: var(--cl-light);
    margin-right: 30px;

    h1{
        padding-right: 10px;
    }

    h4{
        font-weight: 400;
        color: var(--cl-secondary);
    }
}

.MovieDetailsBack{
    button{
        display: flex;
        align-items: center;
        background: none;
        border: 0;

        svg{
            margin-right: 5px;
        }

        &:hover{
            color: var(--cl-yellow);
        }
    }
}

.MovieDetailsBlock{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.MovieDetailsDesc{
    margin-top: 15px;
}

.MovieDetailsRating{
    display: flex;
    align-items: center;
    font-size: 14px;

    h6{
        padding-right: 5px;
        color: var(--cl-light);
    }

    &:before{
        content: '';
        display: flex;
        width: 15px;
        height: 15px;
        flex: 0 0 15px;
        margin-right: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' class='ipc-icon ipc-icon--star-inline' viewBox='0 0 24 24' fill='%23f5b50a' role='presentation'%3E%3Cpath d='M12 20.1l5.82 3.682c1.066.675 2.37-.322 2.09-1.584l-1.543-6.926 5.146-4.667c.94-.85.435-2.465-.799-2.567l-6.773-.602L13.29.89a1.38 1.38 0 0 0-2.581 0l-2.65 6.53-6.774.602C.052 8.126-.453 9.74.486 10.59l5.147 4.666-1.542 6.926c-.28 1.262 1.023 2.26 2.09 1.585L12 20.099z'%3E%3C/path%3E%3C/svg%3E");
        background-size: cover;
    }
}

.MovieDetailsAction{
    position: relative;

    ul{
        display: flex;
        flex-wrap: wrap;
        margin: -5px -10px;

        li{
            padding: 5px 10px;

            .AddToWatchlist, .AddToFavorite {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                padding: 0;
                background: none;

                h6{
                    margin-left: 10px;

                    @media only screen and (max-width: 767px){
                        display: none;
                    }
                }

                &:not(:disabled):hover{
                    opacity: 0.85;
                }
            }

            .AddToWatchlist {
                color: var(--cl-yellow);

                svg{
                    width: 18px;
                    height: 18px;
                    flex: 0 0 18px;
                }
            }

            .AddToFavorite {
                color: var(--cl-red);
                font-size: 26px;

                svg{
                    width: 24px;
                    height: 24px;
                    flex: 0 0 24px;
                }
            }
        }
    }

    .IconWatchlist,
    .IconFavorite{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        border: 1px solid;
        border-radius: 50%;
    }

    .IconWatchlist {
        border-color: var(--cl-yellow);
    }

    .IconFavorite {
        border-color: var(--cl-red);
    }
}

.MovieDetailsInfo{
    margin-top: 15px;

    ul{
        display: flex;
        flex-direction: column;

        li{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            min-height: 40px;

            &:not(:first-child){
                border-top: 1px solid var(--cl-grey-dark);
            }
        }
    }

    &-label{
        margin-right: 15px;
        color: var(--cl-light);
    }

    &-value{
        color: var(--cl-blue);
    }
}