.Logo{
    position: relative;
    display: flex;
    margin-right: 30px;
    cursor: pointer;

    a{
        display: flex;
        flex: 0 0 50px;
        font-size: 50px;

        &:hover{
            filter: drop-shadow(0 0 5px var(--cl-blue));
        }
    }

    @media only screen and (max-width: 767px){

    }
}