.Filter{
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
    width: 100%;
}

.FilterTitle{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--cl-grey);
}

.FilterForm{
    position: relative;
    background-color: #0b1a2a;
    border: 3px solid #0f2133;
    padding: 15px;
}

.Form{
    position: relative;
}

.FormRow{
    display: flex;
    flex-wrap: wrap;
    margin: -7.5px;
}

.FormCol {
    width: 100%;
    padding: 7.5px;
}

.FormLine{
    display: flex;
    flex-direction: column;
}

.FormLineRow{
    display: flex;
    flex-wrap: wrap;
    margin: -7.5px;
}

.FormLineCol {
    width: 50%;
    padding: 7.5px;
}