.Footer{
    position: relative;
    margin-top: auto;
    padding-top: 90px;
    background-image: url('../../../public/ft-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 10;

    @media only screen and (max-width: 767px){
        padding-top: 40px;
    }
}

.FooterWrap{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 50px;
    background-color: rgba(#020d18, 0.7);
    border-top: 1px solid var(--cl-grey);
}

.FooterBlock{
    position: relative;
}